@charset "utf-8";
@import "fontello.css";

/* 웹폰트 선언 */

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* 숨김 콘텐츠 */

legend,
.hidden {
    position: absolute;
    left: -9999em;
}


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}


/* 기본 스타일 */

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4rem;
    /*줄사이의 간격 없음:1*/
    line-height: 1.2;
}


/* 레이아웃 */

.wrapper {
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100vh;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* 링크 스타일 */

a {
    color: inherit;
    text-decoration: none;
}


/* 헤더 */

.header {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    position: relative;
    padding: 0 30px 40px 30px;
}


/* 로고 */

.logo {
    position: absolute;
    top: 45px;
    left: 60px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    list-style-type: none;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    content: "";
}


/* 메인 메뉴 */

.main-menu {
    background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    padding-left: 225px;
    height: 45px;
}

.main-menu>li {
    float: left;
    position: relative;
}

.main-menu span {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    color: rgba(255, 255, 255, 0.95);
    display: block;
    padding: 0 20px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
    /*color: hsla(45, 80%, 80%, 1);*/
    color: #ff0;
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    top: 45px;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
    left: 0;
}

.about-css {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    right: -25px;
}


/* 비주얼 */

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

@keyframes flower-ani {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.visual-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    animation: text-ani 0.5s forwards ease-in-out;
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation: flower-ani 2s infinite alternate;
}

.visual::before {
    background: url("images/ani_flower_01.png") no-repeat 0 -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
}

.visual::after {
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    animation-delay: 1s;
}

.main-content {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group1 {
    width: 250px;
    /*align-self: flex-end;*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}


/*로그인 */

.login {
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}

.login-heading {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    color: #ff0;
    text-indent: 10px;
}

.login-form {
    background: #fff;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.login-form fieldset {
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 0 10px 0;
    margin: 0;
    position: relative;
}

.user-pw {
    margin-top: 5px;
}

.login-form label {
    display: inline-block;
    width: 4em;
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    background: red;
    border-radius: 2px 2px 2px 2px;
}

.member {
    padding: 0 10px 10px 10px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}


/*플로트이슈를 해결하기 위한 clearfix*/


/*플로트 해결위해 ->강제로 마진을 줘야함*/


/*멤버의 세번째 자식 생성,가상요소는 콘텐츠줘야함*/

.member::after {
    content: "";
    display: block;
    clear: both;
}

.icon-user::before,
.icon-right-open::before {
    background: red;
}

.icon-user::before {
    content: '\e800';
}

.icon-right-open::before {
    content: '\e801';
}

.join {
    float: left;
}

.find {
    float: right;
}


/*유효성 검사 배너 링크*/

.validation {
    margin-top: 20px;
}

.validation-list li {
    /*아이콘 먼저 선언*/
    /*아이콘의 위치를 좌표로 지정,50퍼센트를 쓰면 상자의 중간(y축)에 매칭됨*/
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 15px;
    border: 1px solid lightgray;
    /*앞의 아이콘없애기*/
    list-style-type: none;
    /*그냥 마진하면 모든방향으로 적용*/
    margin-bottom: 10px;
    /*박스의 길이를 늘림*/
    height: 30px;
    /*안의 글씨를 가운데 정렬한 것 처럼*/
    line-height: 30px;
    /*패딩은 박스가 움직이고 띄어쓰기는 그대로*/
    text-indent: 45px;
}


/*전체 박스에 링크걸기위해, 전체를 블럭화*/


/*마진은 겹치면 상쇄*/

.validation-list a {
    display: block;
}


/*웹 관련 용어*/

.term {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /*첫번째건 위아래, 다음은 좌우의 패딩*/
    padding: 10px 15px;
}

.term-list-thumbnail,
.term-list-brief {
    margin: 0;
}

.term-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.term-list {
    background: yellow;
    margin: 10px 0 0 0;
}


/*자식을 다 플로크 시켜서 자식을 잃어버렸으니 가상의 자식을 넣어 길이 늘림*/

.term-list::after {
    clear: both;
}

.term-list-subject,
.term-list-brief {
    width: 145px;
    float: right;
}

.term-list-subject {
    background: lavender;
    color: blue;
}

.term-list-thumbnail {
    float: left;
}

.term-list-brief {
    margin-top: 5px !important;
}


/*검색 폼*/

.search fieldset {
    border: 0;
    padding-left: 15px;
    padding-top: 8px;
}

.search {
    background: linear-gradient(to top, white 0%, #e2ebf0 100%);
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-radius: 10px 10px 0 0px;
}

.search-form fieldset {}

.search label {
    ;
}

.search label::before {
    content: "";
}

.search img {
    position: relative;
    top: 0px;
}

.search input {
    margin-left: 7px;
    margin-right: 5px;
    width: 190px;
    height: 22px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.btn-search {
    width: 45px;
    height: 25px;
    color: white;
    font-family: "Noto Sans Regular";
    background: linear-gradient(to top, gray, black);
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}


/* 공지사항 및 자료실 */

.board {
    margin-top: 20px;
    position: relative;
    height: 180px;
}

.notice-heading,
.pds-heading {
    float: left;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #999;
    background: linear-gradient(to bottom, #eee, #ccc);
    padding: 5px 10px;
    cursor: pointer;
}

.act .notice-heading,
.act .pds-heading {
    border-color: #e0652c;
    border-bottom-color: #fff;
    background: #fff;
    color: #e0652c;
    outline: 0;
}

.notice-list,
.pds-list {
    box-sizing: border-box;
    width: 100%;
    list-style-type: square;
    position: absolute;
    top: 45px;
    left: 0;
    padding-left: 20px;
}

.notice-list li,
.pds-list li {
    margin: 5px 0;
}

.notice-list a,
.pds-list a {
    width: 285px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice-list time,
.pds-list time {
    float: right;
}

.notice-more,
.pds-more {
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
}

.notice-more::before,
.pds-more::before {
    content: "p";
    font-family: "webcafeIcon";
    color: hsla(120, 100%, 30%, 1);
    position: relative;
    top: 2px;
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.act .notice-list,
.act .pds-list,
.act .notice-more,
.act .pds-more {
    display: block;
}


/* 새소식 */

.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, #aaa, #fff);
    top: 35px;
    left: 0;
}

.news-heading {
    color: #e0652c;
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.news-item {
    margin-top: 30px;
    padding-left: 130px;
    position: relative;
}

.new-item a {
    display: block;
}

.news-item-heading {
    font-family: "Noto Sans Bold";
}

.news-item-heading::before {
    content: "r";
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}

.news-item-date,
.news-item-brief {
    margin: 5px 0 0 1em;
    display: block;
}

.news-item-thumbnail {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
}

.news-item-thumbnail img {
    margin-bottom: 15px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.news-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.news-more::before {
    content: "p";
    font-family: "webcafeIcon";
    color: hsla(120, 100%, 30%, 1);
    position: relative;
    top: 2px;
}


/*신규 이벤트 및 관련 사이트*/

.event {
    border-bottom: 1px solid #aaa;
    position: relative;
}

.related {
    margin-top: 10px;
}

.event-related {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eee, #ccc) repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.event-heading,
.related-heading {
    font-family: "Noto Sans Bold";
    font-size: 1.5rem;
}

.event-heading span,
.related-heading span {
    color: #f00;
}

#event-detail {
    margin-top: 10px;
}

#event-detail img {
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
}

#event-detail em {
    font-style: normal;
}

.btn-event {
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.btn-event-prev,
.btn-event-next {
    background: rgba(0, 0, 0, 0) url("images/back_forward.png") no-repeat scroll 0 0;
    border: 0 none;
    height: 0;
    overflow: hidden;
    padding: 18px 0 0;
    width: 19px;
}

.btn-event-next {
    background-position: 100% 0%;
}

.related-list {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 25px;
    margin-top: 10px;
    overflow: hidden;
    transition: all 0.5s;
}

.related-list:hover,
.related-list:focus {
    height: 125px;
    padding: 10px 0;
}

.related-list a {
    display: block;
    line-height: 25px;
}


/*슬로건*/

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
}

.footer {
    height: 10vh;
}